<header class="nav-header">
	<a href="<?js= rootdir ?>index.html">
		<img class="nav-logo" src="<?js= subdir ?>images/logo.svg" src="image" onerror="this.onerror=null; this.src='<?js= subdir ?>images/logo.png'" alt="<?js= templateOptions.projectName ?>" />
		<h1><?js= templateOptions.projectName ?></h1>
	</a>
</header>